/*  =================
	== 4 D . C S S ==
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

/*  =======================
    GENERAL IMG STYLING
    ======================= */

.img-large {
	display: block;
	width: 80%;
	margin: 0 auto 32px auto;
}

.img-large > img {
	width: 100%;
}

.video-wrapper {
	width:95%; 
	height:100%; 
	margin:0 auto;
}

.h_iframe {
	position:relative; 
	padding-top: 66%;
	margin-bottom: 4%;
}

.h2_iframe {
	position:relative; 
	padding-top: 56%;
}

.h_iframe iframe,
.h2_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}

.text-link:link,
.text-link:visited {
	display: inline-block;
	height: 25px;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid black;
	-webkit-transition: border-bottom 0.5s, color 0.5s; /* Safari */
   	-moz-transition: border-bottom 0.5s, color 0.5s; /* Mozilla */
   	-o-transition: border-bottom 0.5s, color 0.5s; /* Opera */
    transition: border-bottom 0.5s, color 0.5s; 
}

.text-link:hover {
	color: #d8c8ab;
	border-bottom: 2px solid #d8c8ab;
}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 974px) { 

	.text-link:link,
	.text-link:visited {
		height: 22px;
	}
}

@media screen and (max-width: 649px) { 


}

@media screen and (max-width: 500px) { 
	
	.text-link:link,
	.text-link:visited {
		height: 17px;
	}

}