/*  =================
	== 4 D . C S S ==
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

/*  =======================
    GENERAL IMG STYLING
    ======================= */

.img-large {
	display: block;
	width: 80%;
	margin: 0 auto 32px auto;
}

.img-large > img {
	width: 100%;
}

.video-wrapper {
	width:80%; 
	height:100%; 
	margin:0 auto;
}

.h_iframe {
	position:relative; 
	padding-top: 66%;
}

.h2_iframe {
	position:relative; 
	padding-top: 56%;
}

.h_iframe iframe,
.h2_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}