/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

.container {
	width: 100%;
	height: auto;
}

#content {
	/* Positioning */
	float: right;
	/* Box-model */
	margin-top: 40px;
	width: 75%;
	/* Typography */
	/* Visual */
	border: 1px solid pink;
	/* Misc */
}

/*  =======================
    NAVIGATION
    ======================= */

#nav {
	/* Positioning */
	position: fixed;
	top: 40px;
	left: 5%;
	/* Box-model */
	width: 20%;
	/* Typography */
	font-family: monospace;
	/* Visual */
	border: 1px solid white;
	/* Misc */
}

.link {
	padding: 2px;
	border-bottom: 2px solid transparent;
	width: 0px;
	transition: width 0.2s ease;
	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
}

.active {
	border-bottom: 2px solid blue;
	width: 60%;
}

.link:hover {
	/* Positioning */
	/* Box-model */
	width: 60%;
	/* Typography */
	/* Visual */
	border-bottom: 2px solid blue;
	cursor: pointer;
	/* Misc */
}

#nav > a:link,
#nav > a:visited {
	/* Positioning */
	/* Box-model */
	width: 0px;
	padding: 2px;
	/* Typography */
	text-decoration: none;
	/* Visual */
	color: black;
	border-bottom: 2px rgba(0,0,0,0);
	/* Misc */
	transition: width 0.2s ease;
	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
}

#nav > a:hover {
	display: block;
	padding-top: 0px;
	width: 60%;
	border-bottom: 2px solid blue;
}

