/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

.container {
	width: 100%;
	height: auto;
}

#content {
	/* Positioning */
	float: right;
	/* Box-model */
	margin-top: 40px;
	margin-bottom: 40px;
	width: 75%;
	/* Typography */
	/* Visual */
	/*border: 1px solid pink;*/
	/* Misc */
}

/*  =======================
    NAVIGATION
    ======================= */

#nav {
	/* Positioning */
	position: fixed;
	top: 40px;
	left: 3%;
	/* Box-model */
	padding: 2%;
	width: 15%;
	height: 210px;
	/* Typography */
	font-family: monospace;
	/* Visual */
	border-right: 1px solid black;
	/* Misc */
}

.link {
	padding: 2px;
	border-bottom: 2px solid transparent;
	width: 0px;
	transition: width 0.2s ease;
	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
}

.active {
	border-bottom: 2px solid #d8c8ab;
	width: 87%;
}

.link:hover {
	/* Positioning */
	/* Box-model */
	width: 87%;
	/* Typography */
	/* Visual */
	border-bottom: 2px solid #d8c8ab;
	cursor: pointer;
	/* Misc */
}

#nav > a:link,
#nav > a:visited {
	/* Positioning */
	/* Box-model */
	width: 0px;
	padding: 2px;
	/* Typography */
	text-decoration: none;
	/* Visual */
	color: black;
	border-bottom: 2px transparent;
	/* Misc */
	transition: width 0.3s ease;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
}

#nav > a:hover {
	display: block;
	padding-top: 0px;
	width: 87%;
	border-bottom: 2px solid #d8c8ab;
}

/*  =======================
    ALT MOBILE FOOTER
    ======================= */

#nav-open {
	display: none;
}

.mobile-nav {
	display: none;
}

/*  =======================
    MOBILE FOOTER
    ======================= */

.mobile-footer{
	/* Positioning */
	/* Box-model */
	/* Typography */
	/* Visual */
	display: none;
	/* Misc */
}

#underline {
	border-bottom: 2px solid #d8c8ab;
}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media (max-width: 975px) { 

}

@media (max-width: 650px) { 

	#content {
		width: 100%;
	}
	
	#nav {
		display: none;
	}

/*  =======================
    ALT MOBILE NAV
    ======================= */

	#nav-open {
		/* Positioning */
		position: fixed;
		top: 0;
		/* Box-model */
		width: 100%;
		height: 40px;
		/* Typography */
		/* Visual */
		background: -webkit-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /* Standard syntax */
		display: block;
		/* Misc */
	}

	#nav-button {
		float: right;
	}

	#nav-open:hover {
		/* Positioning */
		/* Box-model */
		/* Typography */
		/* Visual */
		cursor: pointer;
		/* Misc */
	}

    .mobile-nav{
		/* Positioning */
		position: fixed;
		top: 4%;
		left: 2%;
		/* Box-model */
		width: 96%;
		/* Typography */
		font-family: monospace;
		/* Visual */
		border: 1px solid black;
		background-color: white;
		display: none;
		/* Misc */
	}

	.mobile-nav > a:link,
	.mobile-nav > a:visited {
		padding-top:15px;
		margin-left: 40px;
		width: 100%;
		color: black;
		text-decoration: none;
	}

	#close {
		padding: 10px;
		float: right;
	}

	.nav-title {
		margin-top: 10px;
		margin-bottom: 20px;
		margin-left: 10px;
	}

	#mobile-link {
		line-height: 40px;
		border-bottom: 2px solid #d8c8ab;
	}

	.site-position {
		margin-left: -15px;
		border: none;
	}

/*  =======================
    FOOTER
    ======================= */	
	.mobile-footer{
		/* Positioning */
		position: fixed;
		bottom: 0;
		left: 2%;
		/* Box-model */
		width: 96%;
		/* Typography */
		/* Visual */
		border-top: 1px solid black;
		background-color: white;
		display: none;
		/* Misc */
	}

	.mobile-footer > a:link,
	.mobile-footer > a:visited {
		/* Positioning */
		/* Box-model */
		padding-top: 10px;
		padding-bottom: 12px;
		/* Typography */
		font-family: monospace;
		font-size: 12px;
		text-decoration: none;
		/* Visual */
		color: black;
		/*border-bottom: 2px solid #d8c8ab;*/
		/* Misc */
	}

	#link-left {
		/* Positioning */
		float: left;
		/* Box-model */
		margin-left: 10px;
		/*margin-left: 10px;*/
		/* Typography */
		/* Visual */
		/* Misc */
	}

	#link-right {
		/* Positioning */
		float: right;
		/* Box-model */
		margin-right: 10px;
		/*margin-right: 10px;*/
		/* Typography */
		/* Visual */
		/* Misc */
	}
}