/*  ===================
	== M E S . C S S ==
	=================== */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

.img-full {
	display: block;
	width: 100%;
	margin: 0 auto 2% auto;
}

.img-full > img {
	width: 100%;
}

.img-large {
	display: block;
	width: 80%;
	margin: 0 auto 32px auto;
}

.img-large > img {
	width: 100%;
}

.img-diagram {
	/* Positioning */
	display: block;
	float: left;
	/* Box-model */
	width: 69%;
	margin: 0 0 0 0;
	/* Typography */
	/* Visual */
	/* Misc */
}

.img-diagram > img {
	width: 100%;
}

.img-label {
	/* Positioning */
	display: block;
	float: right;
	/* Box-model */
	width: 30%;
	margin: 6% 0 0 0;
	/* Typography */
	/* Visual */
	/* Misc */
}

.img-label > img {
	width: 100%;
}