/*  ===================
	== M E S . C S S ==
	=================== */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

.img-full {
	display: block;
	width: 100%;
	margin: 0 auto 2% auto;
}

.img-full > img {
	width: 100%;
}

.img-large {
	display: block;
	width: 80%;
	margin: 0 auto 32px auto;
}

.img-large > img {
	width: 100%;
}

.img-diagram {
	/* Positioning */
	display: block;
	float: left;
	/* Box-model */
	width: 69%;
	margin: 0 0 6% 0;
	/* Typography */
	/* Visual */
	/* Misc */
}

.img-diagram > img {
	width: 100%;
}

.img-label {
	/* Positioning */
	display: block;
	float: right;
	/* Box-model */
	width: 30%;
	margin: 6% 0 0 0;
	/* Typography */
	/* Visual */
	/* Misc */
}

.img-label > img {
	width: 100%;
}

.img-sudoku {
	/* Positioning */
	display: block;
	float: left;
	/* Box-model */
	width: 50%;
	margin: 0 0 0 0;
	/* Typography */
	/* Visual */
	/* Misc */
}

.img-sudoku > img {
	width: 100%;
}


/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 974px) { 
	.img-diagram {
		/* Positioning */
		/* Box-model */
		width: 90%;
		margin: 0 5% 0 5%;
		/* Typography */
		/* Visual */
		/* Misc */
	}

	.img-label {
		/* Positioning */
		float: left;
		/* Box-model */
		width: 46%;
		margin: 0 28% 7% 28%;
		/* Typography */
		/* Visual */
		/* Misc */

	}

	.label2 {
		margin-left: 29%;
	}
	
	.label3 {
		margin-left: 33%;
	}
}

@media screen and (max-width: 649px) { 
	
	.img-sudoku {
		/* Positioning */
		/* Box-model */
		width: 80%;
		margin: 0 0 0 10%;
		/* Typography */
		/* Visual */
		/* Misc */
	}

}

@media screen and (max-width: 500px) { 

	.img-label {
		/* Positioning */
		/* Box-model */
		width: 80%;
		margin: 0 10% 7% 10%;
		/* Typography */
		/* Visual */
		/* Misc */

	}

	.label2 {
		margin-left: 17%;
	}
	
	.label3 {
		margin-left: 16%;
	}

}