/*  =================
	== T D . C S S ==
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

/*  =======================
    GENERAL IMG STYLING
    ======================= */

.img-book {
	display: block;
	float: left;
	width: 40%;
	margin: 0 30% 4% 30%;
	box-shadow: -6px -6px 10px rgba(0,0,0,0.9);
}

.img-book > img {
	width: 100%;
}