/*  =================
	== T D . C S S ==
	================= */

/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

/*  =================================================================
    BEGIN AUTHOR STYLING
    ================================================================= */

/*  =======================
    GENERAL IMG STYLING
    ======================= */

.scroll-container {
	float: left;
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#scroll {
	position: absolute;
	width: 100%;
	height: 500px;
	font-size: 70px;
	overflow-y: auto;
	z-index: 100;
	color: rgba(0,0,0,0);
	cursor: row-resize;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-container > video {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: auto;
}

#scroll-instructions {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	text-align: center;
	color: rgb(0,0,0);
}

.video-wrapper {
	float: left;
	width:45%; 
	height:100%; 
	margin:0 0 8% 0;
}

.h_iframe {
	position:relative; 
	padding-top: 80%;
}

.h_iframe iframe {
	position:absolute;
	top:0;left:0;
	width:100%; 
	height:100%;
}

.img-studio {
	display: block;
	float: left;
	width: 45%;
	margin-top: 2.4%;
	margin-left: 4%;
	margin-bottom: 8%;
}

.img-studio > img {
	width: 100%;
}

h4 {
	float: left;
	display: block;
	margin-left: 11%;
}

.web {
	display: block;
}

.mobile {
	display: none;
}

.text-link:link,
.text-link:visited {
	display: inline-block;
	height: 25px;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid black;
	-webkit-transition: border-bottom 0.5s, color 0.5s; /* Safari */
   	-moz-transition: border-bottom 0.5s, color 0.5s; /* Mozilla */
   	-o-transition: border-bottom 0.5s, color 0.5s; /* Opera */
    transition: border-bottom 0.5s, color 0.5s; 
}

.text-link:hover {
	color: #d8c8ab;
	border-bottom: 2px solid #d8c8ab;
}

/*  =======================
    MEDIA QUERIES
    ======================= */

@media screen and (max-width: 974px) { 

	.text-link:link,
	.text-link:visited {
		height: 22px;
	}

	h4 {
		margin-left: 10%;
	}

	#scroll-instructions {
		margin-top: 5px;
	}

}

@media screen and (max-width: 649px) { 
	
	.img-book {
		box-shadow: -5px -6px 5px rgba(0,0,0,0.9);
	}

	.video-wrapper {
		width:80%; 
		height:100%; 
		margin:0 10% 2% 10%;
	}

	.img-studio {
		width: 80%;
		margin-top:;
		margin-left: 10%;
		margin-bottom: 4%;
	}

	.scroll-container {
		display: none;
	}

	.mobile {
		display: block;
	}

	.web {
		display: none;
	}

}

@media screen and (max-width: 500px) { 
	
	.text-link:link,
	.text-link:visited {
		height: 17px;
	}

	h4 {
		margin-left: 5%;
	}

}